body{
	font-family: "Marker Felt", "Rochester", fantasy;
	color: #003356;
	image-align: center;
}
body {background-color: gray;}
h1   {color: black;}
p    {color: black;}

h1 {
	font-size:5em;

	
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 10px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
